// Typescale
h1 {
  font-size: calc(5.61rem * 0.8);
}

h2 {
  font-size: calc(4.209rem * 0.8);
}

h3 {
  font-size: calc(3.157rem * 0.8);
}

h4 {
  font-size: calc(2.369rem * 0.8);
}

h5 {
  font-size: calc(1.777rem * 0.8);
}

h6 {
  font-size: calc(1.333rem * 0.8);
}

p {
  font-size: 1rem;
}

small {
  font-size: 0.75rem;
}
