* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "OpenSans";
  src: url("./src/fonts/OpenSans.ttf") format("true-type");
}
@font-face {
  font-family: "Poppins-Regular";
  src: url("./src/fonts/Poppins-Regular.ttf") format("true-type");
}
@font-face {
  font-family: "Poppins-Light";
  src: url("./src/fonts/Poppins-Light.ttf") format("true-type");
}
@font-face {
  font-family: "Poppins-Bold";
  src: url("./src/fonts/Poppins-Bold.ttf") format("true-type");
}
body {
  font-family: "OpenSans", sans-serif;
  color: #041518;
  /* Buttons */
}
body a.btn-cta {
  display: inline-block;
  text-align: center;
  background-color: #d4e8ec;
  padding: 1rem 2rem;
  border-radius: 1.25rem;
  color: #041518;
  text-decoration: none;
  transition: background-color 0.2s;
  box-shadow: 1px 1px 2px 0 rgba(49, 85, 94, 0.64), 2px 3px 4px 0 rgba(49, 85, 94, 0.55), 5px 8px 6px 0 rgba(49, 85, 94, 0.33), 10px 14px 7px 0 rgba(49, 85, 94, 0.1), 15px 21px 7px 0 rgba(49, 85, 94, 0.01);
}
body a.btn-cta:hover {
  background-color: #bdd9c5;
}
body a.btn-cta:active {
  background-color: #041518;
  color: #d4e8ec;
  box-shadow: none;
}
body header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #22777f;
  color: #d4e8ec;
  padding: 0.5rem 2rem;
}
body header nav h6 {
  font-weight: 200;
}
body header nav img.svg {
  height: 2rem;
}
body header nav img.svg:hover {
  transform: scale(1.2);
}
body header nav .navbar-right {
  display: flex;
  gap: 0.5rem;
}
body .hero-section {
  height: 50rem;
  background-image: url("./src/public/hero.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #d4e8ec;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .hero-section .content-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem 4rem;
  border-radius: 1.25rem;
  background-color: #22777f;
  margin: 1rem;
  box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.2), 11px 14px 18px 0 rgba(0, 0, 0, 0.17), 24px 33px 24px 0 rgba(0, 0, 0, 0.1), 43px 58px 29px 0 rgba(0, 0, 0, 0.03), 68px 90px 32px 0 rgba(0, 0, 0, 0);
}
body .hero-section .content-container .text-container {
  text-align: center;
}
body .hero-section .content-container .text-container h3 {
  font-weight: 200;
}
body .hero-section .btn-container {
  text-align: center;
}
body .aboutme {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 8rem 0;
}
body .aboutme .cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body .aboutme .cards-container .card-left, body .aboutme .cards-container .card-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 21rem;
  height: 31rem;
  padding: 5rem 4rem;
}
body .aboutme .cards-container .card-left img {
  height: 16rem;
  width: 16rem;
}
body .aboutme .cards-container .card-right {
  text-align: justify;
  gap: 32px;
}
body .aboutme .cards-container .card-right h6 {
  font-weight: 400;
}
body .aboutme .cards-container .card-right {
  background-color: #22777f;
  color: #d4e8ec;
  border-radius: 1.25rem;
}

h1 {
  font-size: 4.488rem;
}

h2 {
  font-size: 3.3672rem;
}

h3 {
  font-size: 2.5256rem;
}

h4 {
  font-size: 1.8952rem;
}

h5 {
  font-size: 1.4216rem;
}

h6 {
  font-size: 1.0664rem;
}

p {
  font-size: 1rem;
}

small {
  font-size: 0.75rem;
}

@media (min-width: 576px) {
  .container {
    width: 90%;
  }
}
@media (min-width: 768px) {
  body h1 {
    font-size: 5.61rem;
  }
  body h2 {
    font-size: 4.209rem;
  }
  body h3 {
    font-size: 3.157rem;
  }
  body h4 {
    font-size: 2.369rem;
  }
  body h5 {
    font-size: 1.777rem;
  }
  body h6 {
    font-size: 1.333rem;
  }
  body .aboutme .cards-container {
    margin: 8rem;
  }
  .container {
    width: 85%;
  }
  html {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  body .aboutme .cards-container {
    flex-direction: row;
  }
  html {
    font-size: 1.125rem;
  }
}
@media (min-width: 1200px) {
  html {
    font-size: 1.15rem;
  }
  .container {
    width: 80%;
  }
}
@media (min-width: 1400px) {
  html {
    font-size: 1.2rem;
  }
  .container {
    width: 70%;
  }
}
@media (min-width: 1920px) {
  html {
    font-size: 1.25rem;
  }
  .container {
    width: 60%;
  }
}
.container {
  width: 95%;
  padding: 0 1rem;
  margin: 0 auto;
  border: 3px solid red;
}

/*# sourceMappingURL=index.css.map */
