$black: #041518;
$white: #d4e8ec;
$error: #c11721;
$main: #22777f;
$second1: #0f6171;
$second2: #379495;
$second3: #fbfcec;
$accent: #bdd9c5;
$realwhite: #fafafa;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Fonts
@font-face {
  font-family: 'OpenSans';
  src: url('./src/fonts/OpenSans.ttf') format('true-type');
}

@font-face {
  font-family: 'Poppins-Regular';
  src: url('./src/fonts/Poppins-Regular.ttf') format('true-type');
}

@font-face {
  font-family: 'Poppins-Light';
  src: url('./src/fonts/Poppins-Light.ttf') format('true-type');
}

@font-face {
  font-family: 'Poppins-Bold';
  src: url('./src/fonts/Poppins-Bold.ttf') format('true-type');
}

body {
  font-family: 'OpenSans', sans-serif;
  color: $black;

  /* Buttons */
  a.btn-cta {
    display: inline-block;
    text-align: center;
    background-color: $white;
    padding: 1rem 2rem;
    border-radius: 1.25rem;
    color: $black;
    text-decoration: none;
    transition: background-color 0.2s;
    box-shadow: 1px 1px 2px 0 rgba(49, 85, 94, 0.64),
    2px 3px 4px 0 rgba(49, 85, 94, 0.55), 5px 8px 6px 0 rgba(49, 85, 94, 0.33),
    10px 14px 7px 0 rgba(49, 85, 94, 0.1),
    15px 21px 7px 0 rgba(49, 85, 94, 0.01);


    &:hover {
      background-color: $accent;
    }

    &:active {
      background-color: $black;
      color: $white;
      box-shadow: none;
    }
  }

  header {
    nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $main;
      color: $white;
      padding: 0.5rem 2rem;

      h6 {
        font-weight: 200;
      }

      img.svg {
        height: 2rem;

        &:hover {
          transform: scale(1.2);
        }
      }

      .navbar-right {
        display: flex;
        gap: 0.5rem;
      }
    }
  }

  .hero-section {
    height: 50rem;
    background-image: url('./src/public/hero.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    display: flex;
    justify-content: center;
    align-items: center;

    .content-container {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 2rem 4rem;
      border-radius: 1.25rem;
      background-color: $main;
      margin: 1rem;
      box-shadow: 3px 4px 10px 0 rgba(0, 0, 0, 0.2),
      11px 14px 18px 0 rgba(0, 0, 0, 0.17),
      24px 33px 24px 0 rgba(0, 0, 0, 0.1),
      43px 58px 29px 0 rgba(0, 0, 0, 0.03), 68px 90px 32px 0 rgba(0, 0, 0, 0);


      .text-container {
        text-align: center;

        h3 {
          font-weight: 200;
        }
      }
    }

    .btn-container {
      text-align: center;
    }
  }
}


// Typescale
h1 {
  font-size: calc(5.61rem * 0.8);
}

h2 {
  font-size: calc(4.209rem * 0.8);
}

h3 {
  font-size: calc(3.157rem * 0.8);
}

h4 {
  font-size: calc(2.369rem * 0.8);
}

h5 {
  font-size: calc(1.777rem * 0.8);
}

h6 {
  font-size: calc(1.333rem * 0.8);
}

p {
  font-size: 1rem;
}

small {
  font-size: 0.75rem;
}

@media (min-width: 576px) {
  .container {
    width: 90%;
  }
}

@media (min-width: 768px) {
  body {
    h1 {
      font-size: 5.61rem;
    }

    h2 {
      font-size: 4.209rem;
    }

    h3 {
      font-size: 3.157rem;
    }

    h4 {
      font-size: 2.369rem;
    }

    h5 {
      font-size: 1.777rem;
    }

    h6 {
      font-size: 1.333rem;
    }

  }
  .container {
    width: 85%;
  }
  html {
    font-size: 1.1rem;
  }
}

@media (min-width: 992px) {
  html {
    font-size: 1.125rem;
  }
}

@media (min-width: 1200px) {
  html {
    font-size: 1.15rem;
  }
  .container {
    width: 80%;
  }
}

@media (min-width: 1400px) {
  html {
    font-size: 1.2rem;
  }
  .container {
    width: 70%;
  }
}

@media (min-width: 1920px) {
  html {
    font-size: 1.25rem;
  }
  .container {
    width: 60%;
  }
}

.container {
  width: 95%;
  padding: 0 1rem;
  margin: 0 auto;
  border: 3px solid red;
}


