// Variablen in Sass
// Variablen beginnen mit einem Dollarzeichen ($)
// Variablen können überall im Code verwendet werden, nachdem sie definiert wurden
// Variablen können Farben, Schriftgrößen, Abstände, etc. speichern
$main-color: #36ca19;
$font-size: 24px;
$padding: 10px;
$margin: 20px;
